/* Основные стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #B0E0E6; /* Серый фон */
}

/* Синяя полоса */
.header {
    background-color: #008B8B;
    color: white;
    text-align: left;
    padding: 40px 30px;
}

.header h1, .header h2 {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

/* Контент */
.content {
    display: flex;
    flex-direction: column; /* Контент в колонку */
    align-items: flex-start; /* Выравниваем влево */
    margin: 30px;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 8px;
}

/* Левая колонка с текстом и фото */
.left-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Выравниваем контент влево */
    display: inline-block; /* Элементы подчинены линейной логике, независимо от ширины экрана. */
}

/* Фото */
.profile-image {
    width: 170px;   /* Ширина */
    height: 170px;  /* Высота (должна быть равна ширине для квадрата) */
    border-radius: 0; /* Убираем округление */
    object-fit: cover; /* Обрезает фото, чтобы оно полностью заполнило квадрат */
    margin-bottom: 20px; /* Отступ снизу */
}

.personal-image {
    display: block; /* Делаем изображение блочным */
    width: 500px; /* Задаем ширину (изменяй по необходимости) */
    height: auto; /* Сохраняем пропорции */
    margin-top: 15px; /* Добавляем отступ сверху */
}


/* Заголовки */
h1, h2, h3 {
    margin: 0;
    padding: 10px 0;
    font-weight: bold;
}

/* Стили для списка */
ul {
    margin: 0;
    padding-left: 20px;
    list-style-type: none;
}

/* Контакты */
.contact-link {
    color: #0000FF;
    text-decoration: none;
}

.contact-link:hover {
    text-decoration: underline;
}

/* Стили для иконки WhatsApp */
.whatsapp-icon {
    width: 20px;  /* Размер иконки */
    height: 20px;
    vertical-align: middle; /* Выравнивание по центру строки */
    margin-right: 8px; /* Отступ справа от ссылки */
}

